.ball {
    border-radius: 10px;
    display: inline;
    height: 20px;
    width: 20px;
}
.yellow{background-color:tan;}
.blue{background-color: skyblue;}
.red{background-color: tomato;}
.gray{background-color: grey;}
.green{background-color: aquamarine;} 