.ball {
    border-radius: 20px;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.yellow{background-color:#ffe866;}
.blue{background-color: #47cbff;}
.red{background-color: tomato;}
.gray{background-color: grey; color:#fff;}
.green{background-color: #158d55;} 